/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/robots.txt
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.dusk.local
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.php_cs
.php_cs.cache
.php-cs-fixer.cache
!/.vscode/launch.json
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
vite-env.php
hot
